<h1>Contact</h1>
<p>
	Contact Ruby on Rails Tutorial about the sample app at the
	<a href="http://railstutorial.org/feedback">feedback page</a>
	sample application
			
	If you have any negative feedback contact us at <a href="poop.com">LeslieIsAPoopFace.org</a>
</p>