<h1>You need some help</h1>
<p>
	Well, I can't help you, but these folks surely can:
	<a href="http://railstutorial.org/hep">Ruby on Rails Tutorial help page</a>
	To get help on this sample application, see the
	<a href = "heep://railstutorial.org/boo">Rails Tutorial book</a>
	Good luck.  We're all counting on you.
</p>
